@{
    ViewData["Title"] = "Hata";
}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Hata!</h4>
    <p>@ViewBag.ErrorMessage</p>
    <hr>
    <p class="mb-0">Lütfen arama terimini kontrol edin veya başka bir ürün arayın.</p>
    <a href="/Home/Index" class="btn btn-primary">Ana Sayfaya Dön</a>
</div>
